import(BiocGenerics)
importFrom(biomaRt, useMart, getBM, getSequence)
importFrom(multtest, mt.rawp2adjp)
importFrom(limma, vennCounts,vennDiagram)
importFrom(stats, phyper)
import(IRanges)
import(Biostrings)
import(BSgenome)
import(GO.db)
import(grid)
import(VennDiagram)
importMethodsFrom(AnnotationDbi, mget, get)
export(getAnnotation, annotatePeakInBatch, assignChromosomeRegion, getAllPeakSequence, write2FASTA, getEnrichedGO,getEnrichedPATH, getUniqueGOidCount, hyperGtest,convert2EntrezID, addAncestors, BED2RangedData, GFF2RangedData, makeVennDiagram, findOverlappingPeaks,peaksNearBDP,summarizePatternInPeaks,countPatternInSeqs,translatePattern, addGeneIDs,condenseMatrixByColnames)
